<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #><#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("49f3aada-0211-457c-84e5-9925654ab8a1");
#><#@ include file="DslPackage\GeneratedVSCT.tt" #>