/* Style adjustments for Help Viewer */
.pageBody {
   padding: 0 20px 0 0;
}

table {
   width: 95%;
   padding-right: 20px;
}

   table.members {
      width: 95%;
      padding-right: 20px;
   }

th p {
   padding-bottom: 0;
}

td p {
   padding-bottom: 5px;
}

.codeSnippetContainerTabs {
   top: 1px;
}

.codeSnippetToolBarText {
   top: -13px;
}

.codeSnippetContainerTabSingle {
   padding: 2px 15px 0 15px;
   height: 22px;
}

.codeSnippetContainerTab a:visited {
   color: #000000;
}

.codeSnippetContainerTabActive a:visited {
   color: #000000;
}

span.keyword {
   color: #0000ff;
   font-weight: normal;
}
