root=true
# Remove the line below if you want to inherit .editorconfig settings from higher directories

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size=3
indent_style=space
tab_width=3

# New line preferences
end_of_line=crlf
insert_final_newline=false

#### .NET Coding Conventions ####

# this. and Me. preferences
dotnet_style_qualification_for_event=false:silent
dotnet_style_qualification_for_field=false:silent
dotnet_style_qualification_for_method=false:silent
dotnet_style_qualification_for_property=false:silent

# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members=true:silent
dotnet_style_predefined_type_for_member_access=true:silent

# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators=always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators=always_for_clarity:silent
dotnet_style_parentheses_in_other_operators=always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators=always_for_clarity:silent

# Modifier preferences
dotnet_style_require_accessibility_modifiers=for_non_interface_members:silent

# Expression-level preferences
csharp_style_deconstructed_variable_declaration=false:silent
csharp_style_inlined_variable_declaration=true:suggestion
csharp_style_throw_expression=true:suggestion
dotnet_style_coalesce_expression=true:suggestion
dotnet_style_collection_initializer=true:suggestion
dotnet_style_explicit_tuple_names=true:suggestion
dotnet_style_null_propagation=true:suggestion
dotnet_style_object_initializer=true:suggestion
dotnet_style_prefer_auto_properties=true:suggestion
dotnet_style_prefer_compound_assignment=true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment=true:silent
dotnet_style_prefer_conditional_expression_over_return=true:silent
dotnet_style_prefer_inferred_anonymous_type_member_names=true:suggestion
dotnet_style_prefer_inferred_tuple_names=true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method=true:suggestion

# Field preferences
dotnet_style_readonly_field=true:suggestion

# Parameter preferences
dotnet_code_quality_unused_parameters=all:suggestion

#### C# Coding Conventions ####

# var preferences
csharp_style_var_elsewhere=false:warning
csharp_style_var_for_built_in_types=false:warning
csharp_style_var_when_type_is_apparent=false:warning

# Expression-bodied members
csharp_style_expression_bodied_accessors=false:silent
csharp_style_expression_bodied_constructors=false:silent
csharp_style_expression_bodied_indexers=false:silent
csharp_style_expression_bodied_lambdas=false:silent
csharp_style_expression_bodied_local_functions=false:silent
csharp_style_expression_bodied_methods=false:silent
csharp_style_expression_bodied_operators=false:silent
csharp_style_expression_bodied_properties=false:silent

# Pattern matching preferences
csharp_style_pattern_matching_over_as_with_null_check=true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check=true:suggestion

# Null-checking preferences
csharp_style_conditional_delegate_call=true:suggestion

# Modifier preferences
csharp_preferred_modifier_order=public, protected, private, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async:suggestion

# Code-block preferences
csharp_prefer_braces=false:suggestion

# Expression-level preferences
csharp_prefer_simple_default_expression=true:silent
csharp_style_pattern_local_over_anonymous_function=true:silent
csharp_style_prefer_index_operator=true:suggestion
csharp_style_prefer_range_operator=true:suggestion
csharp_style_unused_value_assignment_preference=discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference=discard_variable:silent

#### C# Formatting Rules ####

# New line preferences
csharp_new_line_before_catch=true
csharp_new_line_before_else=true
csharp_new_line_before_finally=true
csharp_new_line_before_members_in_anonymous_types=true
csharp_new_line_before_members_in_object_initializers=true
csharp_new_line_before_open_brace=all
csharp_new_line_between_query_expression_clauses=true

# Indentation preferences
csharp_indent_block_contents=true
csharp_indent_braces=false
csharp_indent_case_contents=true
csharp_indent_case_contents_when_block=true
csharp_indent_labels=no_change
csharp_indent_switch_labels=true

# Space preferences
csharp_space_after_cast=false
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_after_comma=true
csharp_space_after_dot=false
csharp_space_after_keywords_in_control_flow_statements=true
csharp_space_after_semicolon_in_for_statement=true
csharp_space_around_binary_operators=before_and_after
csharp_space_around_declaration_statements=false
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_before_comma=false
csharp_space_before_dot=false
csharp_space_before_open_square_brackets=false
csharp_space_before_semicolon_in_for_statement=false
csharp_space_between_empty_square_brackets=false
csharp_space_between_method_call_empty_parameter_list_parentheses=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_declaration_name_and_open_parenthesis=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_parentheses=false
csharp_space_between_square_brackets=false

# Wrapping preferences
csharp_preserve_single_line_blocks=true
csharp_preserve_single_line_statements=true

# ReSharper properties
resharper_align_linq_query=true
resharper_align_multiline_argument=true
resharper_align_multiline_array_and_object_initializer=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_expression=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multiline_switch_expression=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_align_tuple_components=true
resharper_blank_lines_after_control_transfer_statements=1
resharper_blank_lines_after_multiline_statements=1
resharper_blank_lines_around_block_case_section=1
resharper_blank_lines_around_multiline_case_section=1
resharper_blank_lines_around_single_line_local_method=1
resharper_blank_lines_before_block_statements=1
resharper_blank_lines_before_case=1
resharper_blank_lines_before_control_transfer_statements=1
resharper_blank_lines_before_multiline_statements=1
resharper_braces_for_dowhile=required
resharper_braces_for_fixed=required
resharper_braces_for_lock=required
resharper_braces_for_using=required
resharper_braces_for_while=required
resharper_csharp_align_first_arg_by_paren=true
resharper_csharp_align_multiline_parameter=true
resharper_csharp_align_multiple_declaration=true
resharper_csharp_empty_block_style=together_same_line
resharper_csharp_outdent_commas=true
resharper_csharp_outdent_dots=true
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_before_binary_opsign=true
resharper_csharp_wrap_chained_method_calls=chop_if_long
resharper_csharp_wrap_multiple_declaration_style=chop_always
resharper_csharp_wrap_multiple_type_parameter_constraints_style=chop_always
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_indent_anonymous_method_block=true
resharper_indent_nested_fixed_stmt=true
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_lock_stmt=true
resharper_indent_nested_usings_stmt=true
resharper_indent_nested_while_stmt=true
resharper_indent_preprocessor_if=usual_indent
resharper_max_initializer_elements_on_line=3
resharper_outdent_binary_ops=true
resharper_place_field_attribute_on_same_line=if_owner_is_single_line
resharper_place_simple_enum_on_single_line=true
resharper_prefer_separate_deconstructed_variables_declaration=true
resharper_wrap_array_initializer_style=chop_if_long
resharper_wrap_before_extends_colon=true
resharper_wrap_chained_binary_expressions=chop_if_long
resharper_wrap_enum_declaration=chop_if_long
resharper_wrap_linq_expressions=chop_always

