
[*.proto]
indent_style=space
indent_size=3
tab_width=3

[*.{appxmanifest,asax,ascx,aspx,build,config,cs,cshtml,csproj,css,dbml,discomap,dtd,htm,html,js,json,jsproj,jsx,lsproj,master,njsproj,nuspec,proj,props,razor,resjson,resw,resx,skin,StyleCop,targets,tasks,ts,tsx,vb,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style=space
indent_size=3
tab_width=3

[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, protected, internal, private, static, new, abstract, virtual, sealed, override, readonly, extern, unsafe, volatile, async:suggestion
csharp_space_after_cast=false
csharp_style_var_elsewhere=false:warning
csharp_style_var_for_built_in_types=false:warning
csharp_style_var_when_type_is_apparent=false:warning
dotnet_style_predefined_type_for_locals_parameters_members=true:warning
dotnet_style_predefined_type_for_member_access=true:warning
dotnet_style_qualification_for_event=false:warning
dotnet_style_qualification_for_field=false:warning
dotnet_style_qualification_for_method=false:warning
dotnet_style_qualification_for_property=false:warning
dotnet_style_require_accessibility_modifiers=for_non_interface_members:hint

# ReSharper properties
resharper_accessor_owner_body=accessors_with_block_body
resharper_align_first_arg_by_paren=true
resharper_align_linq_query=true
resharper_align_multiline_argument=true
resharper_align_multiline_array_and_object_initializer=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_expression=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multiline_parameter=true
resharper_align_multiple_declaration=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_align_ternary=align_all
resharper_align_tuple_components=true
resharper_allow_comment_after_lbrace=true
resharper_arguments_skip_single=true
resharper_blank_lines_after_control_transfer_statements=1
resharper_blank_lines_after_multiline_statements=1
resharper_blank_lines_around_single_line_local_method=1
resharper_blank_lines_before_block_statements=1
resharper_blank_lines_before_control_transfer_statements=1
resharper_blank_lines_before_multiline_statements=1
resharper_blank_lines_before_single_line_comment=1
resharper_blank_lines_between_using_groups=1
resharper_blank_lines_inside_namespace=1
resharper_braces_for_dowhile=required_for_multiline_statement
resharper_braces_for_for=required_for_multiline_statement
resharper_braces_for_foreach=required_for_multiline_statement
resharper_braces_for_ifelse=required_for_multiline_statement
resharper_braces_for_while=required_for_multiline_statement
resharper_braces_redundant=false
resharper_control_statements_braces=next_line
resharper_csharp_blank_lines_around_single_line_invocable=1
resharper_csharp_indent_size=3
resharper_csharp_insert_final_newline=true
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_keep_blank_lines_in_declarations=1
resharper_csharp_tab_width=3
resharper_csharp_use_indent_from_vs=false
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_before_binary_opsign=true
resharper_csharp_wrap_before_comma=true
resharper_csharp_wrap_extends_list_style=chop_if_long
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_csharp_wrap_ternary_expr_style=chop_always
resharper_css_brace_style=next_line
resharper_force_chop_compound_do_expression=true
resharper_force_chop_compound_if_expression=true
resharper_force_chop_compound_while_expression=true
resharper_force_control_statements_braces=always_add
resharper_function_braces=next_line
resharper_function_in_invocation_braces=next_line_shifted_2
resharper_indent_anonymous_method_block=true
resharper_indent_left_par_inside_expression=true
resharper_indent_nested_fixed_stmt=true
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_lock_stmt=true
resharper_indent_nested_usings_stmt=true
resharper_indent_nested_while_stmt=true
resharper_indent_switch_labels=true
resharper_int_align_assignments=true
resharper_int_align_binary_expressions=true
resharper_int_align_comments=true
resharper_int_align_fields=true
resharper_int_align_methods=true
resharper_int_align_nested_ternary=true
resharper_int_align_parameters=true
resharper_int_align_properties=true
resharper_int_align_variables=true
resharper_js_indent_pars=outside_and_inside
resharper_js_insert_final_newline=true
resharper_js_keep_blank_lines_in_code=1
resharper_js_space_between_empty_square_brackets=true
resharper_keep_blank_lines_between_declarations=1
resharper_keep_existing_declaration_parens_arrangement=false
resharper_keep_existing_embedded_arrangement=false
resharper_keep_existing_invocation_parens_arrangement=false
resharper_max_array_initializer_elements_on_line=3
resharper_max_formal_parameters_on_line=3
resharper_max_initializer_elements_on_line=3
resharper_max_invocation_arguments_on_line=3
resharper_new_line_before_catch=true
resharper_new_line_before_else=true
resharper_new_line_before_finally=true
resharper_outdent_binary_ops=true
resharper_outdent_commas=true
resharper_outdent_dots=true
resharper_parentheses_non_obvious_operations=shift, bitwise_and, bitwise_exclusive_or, bitwise_inclusive_or, bitwise, conditional_and, conditional_or, conditional
resharper_place_attribute_on_same_line=False
resharper_place_constructor_initializer_on_same_line=false
resharper_place_expr_accessor_on_single_line=True
resharper_place_expr_method_on_single_line=True
resharper_place_expr_property_on_single_line=True
resharper_place_simple_declaration_blocks_on_single_line=false
resharper_place_simple_embedded_statement_on_same_line=False
resharper_simple_embedded_statement_style=line_break
resharper_single_statement_function_style=line_break
resharper_space_within_array_literal_brackets=true
resharper_space_within_empty_object_literal_braces=true
resharper_wrap_array_initializer_style=chop_if_long
resharper_wrap_before_extends_colon=true
resharper_wrap_before_first_type_parameter_constraint=true
resharper_wrap_chained_binary_expressions=chop_if_long
resharper_wrap_chained_method_calls=chop_if_long
resharper_wrap_linq_expressions=chop_always
resharper_wrap_object_and_collection_initializer_style=chop_always

# ReSharper inspection severities
resharper_access_to_static_member_via_derived_type_highlighting=none
resharper_arguments_style_anonymous_function_highlighting=suggestion
resharper_arguments_style_literal_highlighting=suggestion
resharper_arguments_style_named_expression_highlighting=suggestion
resharper_arguments_style_other_highlighting=suggestion
resharper_arguments_style_string_literal_highlighting=suggestion
resharper_arrange_missing_parentheses_highlighting=hint
resharper_arrange_var_keywords_in_deconstructing_declaration_highlighting=warning
resharper_assign_null_to_not_null_attribute_highlighting=none
resharper_check_namespace_highlighting=none
resharper_comment_typo_highlighting=none
resharper_convert_if_statement_to_return_statement_highlighting=suggestion
resharper_convert_to_auto_property_with_private_setter_highlighting=suggestion
resharper_c_sharp_warnings_cs0628_highlighting=suggestion
resharper_field_can_be_made_read_only_global_highlighting=warning
resharper_identifier_typo_highlighting=none
resharper_inconsistent_naming_highlighting=none
resharper_localizable_element_highlighting=hint
resharper_loop_can_be_partly_converted_to_query_highlighting=suggestion
resharper_not_resolved_in_text_highlighting=hint
resharper_parameter_only_used_for_precondition_check_local_highlighting=hint
resharper_possible_null_reference_exception_highlighting=hint
resharper_resource_item_not_resolved_highlighting=warning
resharper_specify_a_culture_in_string_conversion_explicitly_highlighting=none
resharper_string_last_index_of_is_culture_specific_1_highlighting=none
resharper_string_literal_typo_highlighting=none
resharper_suggest_discard_declaration_var_style_highlighting=warning
resharper_unknown_css_class_highlighting=hint
resharper_unused_parameter_highlighting=hint
